<mat-tab-group>
    <mat-tab class="d1" label="Login" style="min-width: 50%;">
        <div class="container" style="margin-top: 30px;">
            <form [formGroup]="collInfo" (ngSubmit)="collactInfo()">
                <div class="card_1" style="  margin-left: 5%;
                margin-right: 5%;">
                    <mat-form-field class="example-full-width">
                        <!-- <input matInput placeholder="Ex. Pizza" value=""> -->
                        <input matInput type="email" placeholder="Email" formControlName="email" id="inputEmail3">
                    </mat-form-field> <br>
                    <mat-form-field class="example-full-width">
                        <!-- <input matInput placeholder="Ex. Pizza" value=""> -->
                        <input matInput type="password" placeholder="password" formControlName="password"
                            id="inputPassword3">
                    </mat-form-field> <br>
                    <button mat-raised-button class="btn_signup" type="submit">Sign in</button>
                </div>
            </form>

        </div>
    </mat-tab>
    <mat-tab class="d1" label="Sign Up" style="min-width: 50%;">
        <div style="margin-top: 30px;">
            <app-register></app-register>
        </div>
    </mat-tab>
</mat-tab-group>